{% extends 'home.html' %}
{% load static %}

    

    {% block body %}
    <style>
        .header{
            margin: 50px;
            display: flex;
            justify-content: space-between;
        }
        .edit{
            cursor: pointer;
        }
    </style>
    <div class="header">
        <div class="btn1">
            <a href="{% url 'home' %}" class="btn btn-secondary"> Continue Shopping</a>
        </div>
        <div class="btn2">
            <a href="{% url 'home' %}" class="btn btn-warning">Checkout</a>
        </div>
    </div>
       <div class="cart-items container">
        <table class="table table-hover">
            <tr>
               
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
              </tr>
              {% for items in cartitems %}
              <tr>
               
                <th>{{items.product.product_name}}</th>
                <th>${{items.product.product_price}}</th>
                <th><span class="updateCart edit" data-product="{{items.product.id}}" data-action="add"> + </span> {{items.quantity}} <span class="updateCart edit" data-product="{{items.product.id}}" data-action="remove"> - </span></th>
                <th>${{items.get_total}}</th>
            </tr>
              {% endfor %}
          
          </table>
       </div>
       
    {% endblock %}
</body>

</html>